# Do not ignore patches (override upstream .gitignore)
!*.patch

*~
.#*
*.metainfo.xml
*.pyc
/.debhelper/
/build/
/control
/control.md5sum
/debhelper-build-stamp
/files
/firmware-*
/stamps/
!/*.lintian-overrides
!/*.maintscript
